body{
}
table{
    text-align: center;
    border-collapse : collapse
}
table tr th{
    border-spacing: 0px;
    border-bottom: 1px solid black;
}

table tr td{
    border-spacing: 0px;
    border-bottom: 1px solid #aaa;
}